{% extends "base.html" %}
{% block content %}

<!--Make Post-->
<h1>Make a Post</h1>
<form method="POST" id="makePost">
    <select name="poster">
      <option value="">User</option>
      {%for username in users%}
      <option value="{{username.userID}}">{{username.username}}</option>
      {%endfor%}</select>
    <label>Post:</label><input type="text" name="postText"><br>
    <button type="submit">Post</button>
</form>


<h1>Recent Activity</h1>
{%for i in posts%}
<p>{{i.user.username}} says: {{i.postTxt}}</p>
<a href="{{url_for('postEdit', id=i.postID)}}">Edit Post</a>
<a href="{{url_for('postDelete', id=i.postID)}}">Delete Post</a>


<!--Make Comment-->
<form method="POST" action ="{{url_for('comment')}}" id="makeComment">
    <p>Make a Comment</p>
    <div>
      <select name="commentPoster">
        <option value="">User</option>
        {%for username in users%}
        <option value="{{username.userID}}">{{username.username}}</option>
        {%endfor%}</select>
      <label>Comment:</label><input type="text" name="commentText"><br>
      <button type="submit">Post</button>
      <input type="hidden" name ="postID" id = "commentID" value = "{{i.postID}}">
    </div>
</form>
{%if i.comments%}
  <h4>Comments:</h4><hr> 
  {%for comment in i.comments%}
    <p>{{comment.user.username}} says: {{comment.commentTxt}}</p>
    <a href="{{url_for('commentEdit', id=comment.commentID)}}">Edit Comment</a>
    <a href="{{url_for('commentDelete', id=comment.commentID)}}">Delete Comment</a><hr>
    {%endfor%}  
  {%else%}
    <p>No comments yet</p><hr>
  {%endif%}
  {%endfor%}
{% endblock %}