{% extends "base.html" %}
{% block content %}
<!--Make Post-->
<h1>Make a Post</h1>
<form method="POST" id="makePost">
    <select name="poster">
      <option value="">User</option>
      {%for username in users%}
      <option value="{{username.userID}}">{{username.username}}</option>
      {%endfor%}</select>
    <label>Post:</label><input type="text" name="postText"><br>
    <button type="submit">Post</button>
</form>
<h1>Recent Activity</h1>
{%for i in posts%}
<p>{{i.poster}} says: {{i.postTxt}}</p>
<a href="{{url_for('postEdit', id=i.postID)}}">Edit Post</a>
<a href="{{url_for('postDelete', id=i.postID)}}">Delete Post</a>
<!--Make Comment-->
<form method="POST" id="makeComment">
    <p>Make a Comment</p>
    <div>
      <select name="poster">
        <option value="">User</option>
        {%for username in users%}
        <option value="{{username.userID}}">{{username.username}}</option>
        {%endfor%}</select>
      <label>Comment:</label><input type="text" name="commentText"><br>
      <button type="submit">Post</button>
    </div>
</form>
<h4>Comments:</h4><hr>
{%for c in comments%}
<ul>{{c.userID}} says: {{c.commentText}}</ul>
{%endfor%}
{%endfor%}
{% endblock %}  